// Angular Material Theme Overrides or Extensions

@import '~@angular/material/theming';
$config: mat-typography-config();

// Class for a small Material Button
.mat-button-small {
  font-size: mat-font-size($config, subheading-1);
  mat-icon {
    font-size: mat-font-size($config, subheading-1);
  }
}

// This is for Drag and Drop, otherwise the Preview element would be unstyled.
.mat-list-item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
  position: relative;
  height: inherit;
}

// This fixes https://github.com/angular/components/issues/11094
mat-card.mat-card {
  //two times mat-card to override component styling of the material component (through higher specificity)
  display: flex;
  flex-direction: column;

  .mat-card-content {
    flex-grow: 1;
  }
}

// This fixes https://github.com/angular/components/issues/4609
.mat-dialog-override {
  mat-dialog-container {
    > :first-child {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    mat-dialog-content {
      flex-grow: 1;
      max-height: unset;
    }
  }
}

// Centers icons in mat-button

button[mat-button] {
  div {
    display: flex;
    mat-icon {
      margin: auto 15px auto 0;
    }
  }
}
