// Define themes as described in this guide: https://material.angular.io/guide/theming
@import 'src/app/shared/components/search/search.component.theme';
@import 'src/app/shared/components/navigation/navigation.component.theme';
@import 'src/app/modules/table/components/table/table.component.theme';
@import 'src/app/modules/profile-picture/components/profile-picture/profile-picture.component.theme';
@import 'src/styles/shadows.theme';

//Global Color Theme Mixin
@mixin global-theme($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, foreground);

  a {
    color: mat-color($primary);
  }

  .pb-color-primary {
    color: mat-color($primary) !important;
  }

  .pb-border-color-primary {
    border-color: mat-color($primary) !important;
  }
  .pb-color-background {
    color: mat-color($background, text) !important;
  }

  .color-warn {
    mat-dialog-container {
      background-color: mat-color($default-warn);
    }
  }
}

@mixin custom-components-theme($theme) {
  @include search-component-theme($theme);
  @include user-list-component-theme($theme);
  @include global-theme($theme);
  @include navigation-component-theme($theme);
  @include profile-picture-component-theme($theme);
  @include shadow-theme($theme);
}
@import 'src/styles/themes/unicorn';
.unicorn_theme {
  font-family: 'la_belle_auroreregular';
  font-size: 18px;
  @include mat-core($april-typography);
  @include angular-material-theme($unicorn_theme);
  @include custom-components-theme($unicorn_theme);
  .mat-table{
    background-color: #FFF3AD;  
  }
  .mat-drawer-inner-container {
    background-color: #D2FFD6 !important;
  }
  .mat-option.mat-selected{
    color : 	#550644 !important;
  }
  .mat-card  {
    background-color: #FFF3AD;
  }
  .mat-tab-group{
    background-color: #FFF3AD;  
  }
  .search{
    background-color: #D2FFD6;
  }
  .mat-toolbar {
    background-color: #D2FFD6;
  }
  .mat-card-subtitle{
    color: black;
  }
}
@import 'src/styles/themes/blue';
.blue_light_theme {
  @include angular-material-theme($blue_light_theme);
  @include custom-components-theme($blue_light_theme);
}

.blue_dark_theme {
  @include angular-material-theme($blue_dark_theme);
  @include custom-components-theme($blue_dark_theme);
}

@import 'src/styles/themes/magenta';
.magenta_light_theme {
  @include angular-material-theme($magenta_light_theme);
  @include custom-components-theme($magenta_light_theme);
}

.magenta_dark_theme {
  @include angular-material-theme($magenta_dark_theme);
  @include custom-components-theme($magenta_dark_theme);
}
