//Angular Material Theme
@import '~@angular/material/theming';
@import 'mixins';
@import 'themes';
@import 'media-queries';

html,
body,
app-root {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.pb-expand {
  width: 100%;
  height: 100%;
  display: flex;
}

.pb-dashboard-component {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: auto;
}

.circle {
  border-radius: 50%;
  overflow: hidden;
  display: block; // only with display block/inline-block the border-radius is applied
}

.square-img100 {
  @include square-img-size(100px);
}

.square-img50 {
  @include square-img-size(50px);
}

.square-img40 {
  @include square-img-size(40px);
}

// Styles for Cards

.pb-right-top-action {
  position: absolute;
  background: rgba(0, 0, 0, 0);
  top: 10px;
  right: 10px;
}

.pb-spacer {
  flex: 1;
  flex-grow: 1;
}

.pb-margin-0 {
  margin: 0 !important;
}

.pb-margin-20 {
  margin: 20px;
}

.pb-margin-05 {
  margin: 0.5%;
}

.pb-margin-top-20 {
  margin-top: 20px;
}

.pb-pointer {
  cursor: pointer !important;
}

.pb-flex-row {
  display: flex;
  flex-flow: row wrap;
}

.pb-flex-column {
  display: flex;
  flex-flow: column;
}

.pb-block {
  display: block;
}

.pb-flex {
  display: flex;
}

.pb-no-display {
  display: none;
}

.pb-fill-parent {
  height: 100%;
  width: 100%;
  display: flex;
}

.pb-overflow-auto {
  overflow: auto;
}

.pb-w-100 {
  width: 100%;
}

.pb-flex-1 {
  flex: 1;
}

.pb-center-text {
  display: flex;
  align-items: baseline;
  flex-flow: column;
  align-items: center;
}

.pb-center-element {
  display: flex;
  justify-content: center;
}

.pb-center-element-orthogonal {
  display: flex;
  align-items: center;
}

.pb-text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.pb-height-expand {
  min-width: 100%;
  min-height: 100%;
}

.pb-float-right {
  float: right;
}

.pb-text-align-center {
  text-align: center;
}

.pb-icon-60 {
  mat-icon {
    @include mat-icon-size(60px);
  }
}

.pb-card {
  margin: 5px;
  display: flex;
}

.pb-margin-left-right-responsive {
  margin: auto 15%;

  @include below-big {
    margin: auto 10%;
  }
  @include below-med {
    margin: auto 5%;
  }
  @include below-small {
    margin: auto 1%;
  }
}

//Media query classes
@include on-med-and-up {
  .pb-hide-on-med-and-up {
    display: none;
  }
}

@include below-small {
  .pb-hide-below-small {
    display: none;
  }
}

@include below-med {
  .pb-hide-below-med {
    display: none;
  }
}

@include below-big {
  .pb-hide-below-big {
    display: none;
  }
}

input::-ms-clear {
  display: none;
}

@import 'overrides';
