.pb-team {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-right: 10px;

  .pb-team-list {
    flex-grow: 1;
  }
}
.pb-small-card {
  width: 320px;
  height: 275px;
}

.card-container {
  display: flex;
}

.pb-team-title {
  display: flex;
  flex-direction: row;
  mat-icon {
    display: inline-flex;
    vertical-align: middle;
    height: 29px;
    width: 29px;
  }
  h1 {
    margin: 0;
  }
  mat-form-field {
    margin-left: 16px;
  }
  ::ng-deep .mat-form-field-infix {
    border: none;
  }
}
