<!-- Navigation -->
<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="'push'" [position]="'end'">
    <nav id="pb-nav-mobile">
      <mat-list>
        <mat-list-item>
          <button mat-menu-item [routerLink]="['/']" (click)="sidenav.close()">
            <mat-icon>dashboard</mat-icon>
            <ng-container i18n="NavigationBar|Link to Dashboard@@navigationDashboard">
              Dashboard
            </ng-container>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-menu-item [routerLink]="['/organigram']" (click)="sidenav.close()">
            <mat-icon>business</mat-icon>
            <ng-container i18n="NavigationBar|Link to Organigram@@navigationOrganigram">
              Organigram
            </ng-container>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-menu-item [routerLink]="['/rooms']" (click)="sidenav.close()">
            <mat-icon>meeting_room</mat-icon>
            <ng-container i18n="NavigationBar|Link to Rooms@@navigationRooms">
              Rooms
            </ng-container>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-menu-item (click)="navigateToOwnProfile(); sidenav.close()">
            <mat-icon *ngIf="currentUser == null">perm_identity</mat-icon>
            <app-profile-picture *ngIf="currentUser != null" [imageSize]="50" class="pb-self-centered circle" [user]="currentUser">
              </app-profile-picture>
            <span i18n="NavigationComponent|Link to the users profile@@NavigationComponentMyProfile">My profile</span>
          </button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <button mat-menu-item focus [routerLink]="['/settings']" (click)="sidenav.close()">
            <mat-icon>settings</mat-icon>
            <span i18n="@@SettingsComponentTitle">Settings</span>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button
            mat-menu-item
            [routerLink]="['/further-information']"
            i18n-matTooltip="navigationBar|Info Button Tooltip@@navigationBarInfoTooltip"
            matTooltip="Got Feedback? Than that`s the right place to click."
            (click)="sidenav.close()"
          >
            <mat-icon>info_outline</mat-icon>
            <span i18n="NavigationComponent|Link to Information page@@NavigationComponentInformation">Information</span>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-menu-item (click)="sidenav.close(); releaseInfoService.displayReleaseDialog()">
            <mat-icon>new_releases</mat-icon>
            <span
              matBadge="!"
              matBadgeColor="accent"
              matBadgeSize="small"
              [matBadgeHidden]="!releaseInfoService.newUpdate"
              i18n="NavigationComponent|Release Notes Menu Item@@NavigationComponentReleaseNotes"
              >Release Notes</span
            >
          </button>
        </mat-list-item>
        <mat-list-item>
          <button
            mat-menu-item
            feedbackDrawer
            i18n-matTooltip="navigationBar|Bug Button Tooltip@@navigationBarBugTooltip"
            matTooltip="Found a Bug? Than that`s the right place to click."
            (click)="sidenav.close()"
          >
            <mat-icon>bug_report</mat-icon>
            <span i18n="NavigationComponent|Link to Bug page@@NavigationComponentBug">Report a Bug</span>
          </button>
        </mat-list-item>
      </mat-list>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="navigation mat-elevation-z5">
      <app-online-bar></app-online-bar>
      <nav>
        <mat-toolbar color="primary">
          <mat-toolbar-row class="mat-elevation-z6">
            <div class="left app-title">
              <button mat-button [routerLink]="['/']">
                <span
                  class="mat-display-1"
                  id="title"
                  i18n="NavigationBar|Application Name@@navigationBarApplicationName"
                  >Phonebook</span
                >
                <span
                  class="beta-tag mat-headline pb-hide-below-small"
                  *ngIf="currentEnvironment != Environment.production"
                  >{{ getEnvironmentTag() }}</span
                >
                <span class="version pb-hide-below-small" *ngIf="currentEnvironment != Environment.development">
                  v{{ version }}</span
                >
              </button>
            </div>
            <div id="pb-greetings" class="pb-hide-below-big" *ngIf="currentUser != null && hasImage">
              {{ (getGreetingMessage() | async) + ' ' + currentUser.Firstname }}!
            </div>
            <div class="pb-missing-userimage-info pb-hide-below-big" *ngIf="currentUser != null && !hasImage">
              <button
                mat-stroked-button
                class="pb-opacity-background mat-body-2"
                (click)="navigateToOwnProfile()"
                i18n-matTooltip="NavigationComponent|Tooltip for MissingUserImage@@MissingUserImageTooltip"
                i18n-aria-label="NavigationComponent|Aria label for MissingUserImage@@MissingUserImageAriaLabel"
                matTooltip="If you upload a picture it will be easier for your colleagues to find and contact you!"
                aria-label="Button which greets and asks for picture uploading."
              >
                <ng-container i18n="NavigationComponent|Greeting@@MissingUserImageGreeting">Hey</ng-container>
                {{ currentUser.Firstname }},
                <ng-container i18n="NavigationComponent|Message@@MissingUserImageMessage"
                  >you haven't uploaded a picture yet. Want to upload one?</ng-container
                >
              </button>
            </div>
            <div class="pb-spacer"></div>
            <div class="pb-orthogonal-center-element pb-hide-below-med">
              <button mat-button [routerLink]="['/']" i18n="@@navigationDashboard">
                Dashboard
              </button>
              <button mat-button [routerLink]="['/organigram']" i18n="@@navigationOrganigram">
                Organigram
              </button>
              <button mat-button [routerLink]="['/rooms']" i18n="@@navigationRooms">
                Rooms
              </button>
              <button mat-icon-button [matMenuTriggerFor]="personalmenu">
                <mat-icon
                  *ngIf="currentUser == null"
                  matBadge="!"
                  matBadgeColor="accent"
                  matBadgeSize="small"
                  [matBadgeHidden]="!releaseInfoService.newUpdate"
                  >person</mat-icon
                >
                <app-profile-picture *ngIf="currentUser != null" [imageSize]="50" class="pb-self-centered circle square-img40" [user]="currentUser">
                </app-profile-picture>
              </button>
              <mat-menu #personalmenu>
                <button mat-menu-item (click)="navigateToOwnProfile()" *ngIf="currentUser != null">
                  <mat-icon>perm_identity</mat-icon>
                  <span i18n="@@NavigationComponentMyProfile">My profile</span>
                </button>
                <button mat-menu-item focus [routerLink]="['/settings']">
                  <mat-icon>settings</mat-icon>
                  <span i18n="@@SettingsComponentTitle">Settings</span>
                </button>
                <button
                  mat-menu-item
                  [routerLink]="['/further-information']"
                  i18n-matTooltip="navigationBar|Info Button Tooltip@@navigationBarInfoTooltip"
                  matTooltip="Got Feedback? Found a Bug? Than that`s the right place to click."
                >
                  <mat-icon>info_outline</mat-icon>
                  <span i18n="@@NavigationComponentInformation">Information</span>
                </button>
                <button mat-menu-item (click)="releaseInfoService.displayReleaseDialog()">
                  <mat-icon>new_releases</mat-icon>
                  <span
                    matBadge="!"
                    matBadgeColor="accent"
                    matBadgeSize="small"
                    [matBadgeHidden]="!releaseInfoService.newUpdate"
                    i18n="@@NavigationComponentReleaseNotes"
                    >Release Notes</span
                  >
                </button>
                <button mat-menu-item feedbackDrawer>
                  <mat-icon>bug_report</mat-icon>
                  <span i18n="@@NavigationComponentBug">Report a Bug</span>
                </button>
              </mat-menu>
            </div>
            <div class="pb-hide-on-med-and-up">
              <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon
                  matBadge="!"
                  matBadgeColor="accent"
                  matBadgeSize="small"
                  [matBadgeHidden]="!releaseInfoService.newUpdate"
                  >menu</mat-icon
                >
              </button>
            </div>
          </mat-toolbar-row>
          <mat-toolbar-row>
            <div class="row-toolbar">
              <app-search id="search"></app-search>
              <div class="table-settings" *ngIf="displayTableSettings">
                <span class="mat-h4" i18n="TableComponent|Result Count@@TableComponentResultCount">
                  {{ tableResultCount$ | async }} Results
                </span>
                <button mat-icon-button (click)="openSettings()">
                  <mat-icon>settings</mat-icon>
                </button>
              </div>
            </div>
          </mat-toolbar-row>
        </mat-toolbar>
      </nav>
    </div>

    <ng-content>
      <!-- Here goes the content -->
    </ng-content>

    <div id="footer">
      <div>
        <!-- Dummy for Layout -->
      </div>
      <div>
        <span *ngIf="currentEnvironment != Environment.development">
          <span>{{ getEnvironmentTag() }}</span> - v{{ version }}
          -
          <a href="https://github.com/T-Systems-MMS/phonebook/commit/{{ versionHashLong }}">{{ versionHashShort }}</a>
        </span>
      </div>
      <div>
        <!-- Dummy for Layout-->
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
