<div>
  <h1 mat-dialog-title>
    <ng-container
      i18n="TableSettingsDialog|Title for Table Column Settings@@TableSettingsDialogTitle"
    >
      Configure Table Columns
    </ng-container>
    <button class="pb-float-right" mat-icon-button mat-dialog-close
      ><mat-icon>clear</mat-icon></button
    >
  </h1>
  <mat-card-subtitle>
    <ng-container
      *ngIf="isSizeSmall === true"
      i18n="TableSettingsDialog|Subtitle Small Screen for Table Column Settings@@TableSettingsDialogSubtitleSmallScreen"
      >for the Small Screen</ng-container
    >
    <ng-container
      *ngIf="isSizeSmall === false"
      i18n="TableSettingsDialog|Subtitle Big Screen for Table Column Settings@@TableSettingsDialogSubtiteBigScreen"
      >for the Big Screen</ng-container
    >
  </mat-card-subtitle>
</div>
<mat-dialog-content>
  <p
    i18n="TableSettingsDialog|Description for Table Column Settings@@TableSettingsDialogDescription"
  >
    Drag and Drop the Columns in order to arrange them in an order you like. You can hide them as
    well by dragging them to the right.
  </p>
  <p
    i18n="TableSettingsDialog|Description Which Size for Table Column Settings@@TableSettingsDialogDescriptionWhichSize"
    >Choose which Columns should be displayed on your Big Screen and your Small Screen. Check above
    which state you are currently changing.</p
  >
  <p
    class="mat-body-2"
    i18n="TableSettingsDialog|Note for Table Column Settings@@TableSettingsDialogNote"
  >
    Note: You can only search for displayed columns.
  </p>
  <div class="pb-container">
    <div>
      <h2
        i18n="TableSettingsDialog|Title of displayed table columns@@TableSettingsDialogSubTitleDisplayedColumns"
      >
        Displayed Columns:
      </h2>
      <div
        class="pb-columns-field"
        cdkDropList
        [cdkDropListData]="displayedColumns"
        (cdkDropListDropped)="drop($event)"
        #visibleColumns="cdkDropList"
        [cdkDropListConnectedTo]="[invisibleColumns]"
      >
        <mat-card class="item" cdkDrag *ngFor="let column of displayedColumns">
          <mat-card-title-group>
            {{ column.title }}
            <mat-icon>drag_handle</mat-icon>
          </mat-card-title-group>
        </mat-card>
      </div>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div>
      <h2
        i18n="TableSettingsDialog|Title of not displayed table columns@@TableSettingsDialogSubTitleNotDisplayedColumns"
      >
        Not displayed Columns:
      </h2>
      <div
        class="pb-columns-field"
        cdkDropList
        [cdkDropListData]="notDisplayedColumns"
        (cdkDropListDropped)="drop($event)"
        #invisibleColumns="cdkDropList"
        [cdkDropListConnectedTo]="[visibleColumns]"
      >
        <mat-card class="item" cdkDrag *ngFor="let column of notDisplayedColumns">
          <mat-card-title-group>
            {{ column.title }}
            <mat-icon>drag_handle</mat-icon>
          </mat-card-title-group>
        </mat-card>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-button
    (click)="resetTableSettings()"
    i18n="GeneralResetButton|Button for resetting something@@GeneralResetButton"
  >
    Reset
  </button>
  <button
    mat-button
    mat-dialog-close
    i18n="GeneralCloseButton|Button for closing something@@GeneralCloseButton"
  >
    Close
  </button>
</mat-dialog-actions>
