<mat-list>
  <mat-list-item *ngIf="runtimeEnvironment.contactEmail">
    <a
      mat-button
      color="primary"
      target="_blank"
      rel="noopener"
      [href]="'mailto:' + runtimeEnvironment.contactEmail"
      mat-dialog-close
    >
      <span
        i18n="
          FeedbackDrawerSheetComponent|Button for contacting the private Organization via
          email@@FeedbackDrawerSheetComponentButtonPrivateOrganizationMail"
        >Contact your private organization via email</span
      >
    </a>
  </mat-list-item>
  <mat-list-item *ngIf="runtimeEnvironment.contactUrl">
    <a
      mat-button
      color="primary"
      target="_blank"
      rel="noopener"
      href="{{ runtimeEnvironment.contactUrl }}"
      mat-dialog-close
    >
      <span
        i18n="
          FeedbackDrawerSheetComponent|Button for contacting the private
          Organization@@FeedbackDrawerSheetComponentButtonPrivateOrganization"
        >Contact your private organization</span
      >
    </a>
  </mat-list-item>

  <mat-list-item>
    <a
      mat-button
      target="_blank"
      rel="noopener"
      href="https://github.com/T-Systems-MMS/phonebook/issues/new?assignees=&labels=feature&template=feature_request.md"
      mat-dialog-close
    >
      <img class="github-icon" alt="github" src="assets/img/GitHub-Mark-32px.png" />
      <span
        i18n="
          FeedbackDrawerSheetComponent|Button for suggesting a new feature on
          Github@@FeedbackDrawerSheetComponentButtonPublicGithubFeature"
        >Suggest an idea or a new feature</span
      >
    </a>
  </mat-list-item>
  <mat-list-item>
    <a
      mat-button
      target="_blank"
      rel="noopener"
      href="https://github.com/T-Systems-MMS/phonebook/issues/new?assignees=&labels=bug&template=bug_report.md"
      mat-dialog-close
    >
      <img class="github-icon" alt="github" src="assets/img/GitHub-Mark-32px.png" />
      <span
        i18n="
          FeedbackDrawerSheetComponent|Button for reporting a bug on
          Github@@FeedbackDrawerSheetComponentButtonPublicGithubBug"
        >Report a bug</span
      >
    </a>
  </mat-list-item>
  <<<<<<< HEAD =======

  <mat-list-item>
    <button mat-button (click)="closeBottomSheet()" cdkFocusInitial>
      <span i18n="GeneralCancelButton|Button for cancelling something@@GeneralCancelButton">Cancel</span>
    </button>
  </mat-list-item>
  >>>>>>> master
</mat-list>
