<mat-card [routerLink]="['/user', person.Id]" mat-ripple class="tiny-card">
  <mat-card-header *ngIf="actionButtonIcon">
    <div class="pb-right-top-action">
      <button propagationStop mat-icon-button [ngClass]="actionButtonClasses" (click)="buttonClicked()">
        <mat-icon>{{ actionButtonIcon }}</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <app-profile-picture class="pb-self-centered circle square-img100" [user]="person" [altText]="person.Id">
    </app-profile-picture>
    <div class="information">
      <p class="mat-body-2">{{ person.Id }}</p>
      <span class="mat-subheading-2 tiny-card-name">
        {{ person.Title }} {{ person.Firstname }} {{ person.Surname }}
      </span>
      <div>
        <button
          mat-icon-button
          color="primary"
          actionDrawer
          [copy]="person.Contacts.Phone"
          [tel]="person.Contacts.Phone | telephone"
        >
          <mat-icon>call</mat-icon>
        </button>
        <button
          mat-icon-button
          color="primary"
          actionDrawer
          [copy]="person.Contacts.Email"
          [mailto]="person.Contacts.Email"
        >
          <mat-icon>mail</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
