<div>
  <h2>
    <ng-container i18n="DashboardComponent|Title of the recent people section@@DashboardComponentTitleRecent">
      Recent People
    </ng-container>
    <button
      mat-button
      *ngIf="removedLastPersons == null && (lastPersons$ | async)?.length != 0"
      (click)="resetLastPersons()"
      i18n="@@GeneralResetButton"
    >
      Reset
    </button>
    <button mat-button *ngIf="removedLastPersons != null" (click)="undoLastPersons()">
      <mat-icon>undo</mat-icon>
      <span i18n="GeneralUndoButton|Button for undoing something@@GeneralUndoButton"> Undo </span>
    </button>
  </h2>
  <div class="pb-flex-row">
    <ng-container *ngFor="let person of lastPersons$ | async">
      <app-user-tiny-card
        [person]="person"
        [actionButtonIcon]="'close'"
        (actionButtonClicked)="removeFromLastPersons(person)"
        class="pb-card"
      ></app-user-tiny-card>
    </ng-container>
    <div
      *ngIf="(lastPersons$ | async)?.length === 0"
      i18n="DashboardComponent|Message displayed if no people have been visited recently@@DashboardComponentDescriptionRecent"
    >
      Looks like you haven't searched for any colleagues yet. Search for somebody to see how it works! The most recent
      ones will be displayed here.
    </div>
  </div>
</div>
