<!-- Container for Smart Spaces -->
<ng-container *ngIf="floorplan == 'DDR7HausD24' && runtimeEnvironment.smartSpacesUrl">
  <mat-slide-toggle
    color="primary"
    class="pb-flex"
    (toggleChange)="showSmartSpaces = !showSmartSpaces && (showSpinner = true)"
    [checked]="showSmartSpaces"
    i18n="Room-planComponent|View Smart Spaces Toggle@@Room-planComponentSmartSpacesToggle"
    >View Smart Spaces</mat-slide-toggle
  >
  <div class="pb-center-element pb-margin-top-20" *ngIf="showSpinner">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  <iframe
    *ngIf="showSmartSpaces"
    [src]="this.sanitizer.bypassSecurityTrustResourceUrl(runtimeEnvironment.smartSpacesUrl)"
    (load)="iframeLoaded()"
  ></iframe>
</ng-container>
<!-- Container for floorPlanSVG -->
<div class="svg-container" [style.display]="floorPlanSVG && !showSmartSpaces ? 'block' : 'none'" #floorplanSVG></div>
<!-- Use normal Floorplan picture if it is not yet converted -->
<ng-container *ngIf="!floorPlanSVG">
  <img
    *ngIf="!floorPlanNotFound"
    [src]="runtimeEnvironment.assetsEndpoint + '/roomplan/' + floorplan + '.jpg'"
    class="roomplan"
    alt="Roomplan"
    (error)="floorPlanNotFound = true"
  />
  <div
    *ngIf="floorPlanNotFound"
    class="pb-center-text pb-margin-20"
    i18n="RoomPlanComponent|Message displayed if there is no room plan@@RoomPlanComponentNoPlan"
  >
    <p>
      Unfortunately there is no plan for this floor.
    </p>
    <p>
      Do you know who can make one or want to help us fix this?
    </p>
    <a
      mat-raised-button
      color="primary"
      target="_blank"
      rel="noopener"
      href="https://github.com/T-Systems-MMS/phonebook"
    >
      <mat-icon>code</mat-icon>
      Contribute
    </a>
  </div>
</ng-container>
