@import 'media-queries';

.displayDialog {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center; //center whole text in dialog
}

.mat-dialog-content {
  max-height: 100vh;
}

.spacer {
  flex-grow: 1;
}

.actions {
  margin: 0 0 0 auto;
}

mat-card {
  min-width: 25%;
  border: 1px solid;

  @include below-big {
    min-width: 40%;
  }

  @include below-med {
    min-width: 80%;
  }
}

.border-1 {
  border: 1px solid;
}

.pb-center-element {
  text-align: center;
}
