<span i18n="Display-notificationDialog|Cookie notice@@WelcomeCookieNotice">
  This site uses cookies to ensure the basic functionality of the app.
</span>
<span
  i18n="Display-notificationDialog|Annoyed by cookies notice@@PageInformationNewUrlNoCookiesText"
>
  You deactivated cookies and keep getting those dialogs?
</span>
<button
  i18n="Display-notificationDialog|Deactivate Startup Dialogs@@PageInformationNewUrlNoCookiesButton"
  mat-button
  mat-dialog-close
  (click)="skipStartDialogs()"
>
  Deactivate startup-dialogs!
</button>
