<mat-card [routerLink]="['/user', person.Id]" class="mat-ripple list-card">
    <mat-card-header *ngIf="actionButtonIcon">
        <div class="pb-right-top-action">
            <button propagationStop mat-icon.button [ngClass]="actionButtonClasses" (click)="buttonClicked()" class="close">
                <mat-icon>{{ actionButtonIcon }}</mat-icon>
            </button>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div>
        <div class="centered">
            <app-profile-picture class="pb-self-centered circle square-img50" [user]="person" [altText]="person.Id">
            </app-profile-picture>
        </div>
        </div>
        <div class="centered">
        <div class="information">
            <p class="mat-body-2">{{ person.Id }}</p></div></div>
        <div class="centered">
        <div class="information">
            <span class="mat-subheading-2 list-card-name">
                {{ person.Title }} {{ person.Firstname }} {{ person.Surname }}
            </span>
        </div>
        </div>
        <div class="centered">
            <button
            *ngIf="person.Contacts.Phone != null && person.Contacts.Phone != ''"
            mat-button
            color="primary"
            actionDrawer
            [copy]="person.Contacts.Phone"
            [tel]="person.Contacts.Phone | telephone"
            >
            <div>
            <mat-icon>call</mat-icon>
            {{ person.Contacts.Phone }}
            </div>
            </button>
            <button
            *ngIf="person.Contacts.Phone == null || person.Contacts.Phone ==''"
            mat-button
            actionDrawer
            color="primary"
            [copy]="person.Contacts.Mobile"
            [tel]="person.Contacts.Mobile | telephone"
            >
            <div>
                <mat-icon>call</mat-icon>
                {{ person.Contacts.Mobile }}
            </div>
            </button>
        </div>
        <div class="centered">
            <button
            mat-button
            color="primary"
            actionDrawer
            [copy]="person.Contacts.Email"
            [mailto]="person.Contacts.Email"
            >
            <div>
            <mat-icon>mail</mat-icon>
            <span class="pb-text-overflow">
            {{ person.Contacts.Email }}
            </span>
            </div>
            </button>
        </div>
    </mat-card-content>
</mat-card>
