<mat-card class="pb-margin-20">
    <mat-card-header>
        <mat-card-title>
            <h1 i18n="SettingsComponent|Title of the settings page@@SettingsComponentTitle">Settings</h1>
        </mat-card-title>
        <mat-card-subtitle
            i18n="SettingsComponent|Title description of the settings page@@SettingsComponentTitleDescription">
            Change the theme or language of this application.
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="settings">
        <div class="pb-flex-1">
            <h2 i18n="SettingsComponent|Language SubTitle@@SettingsComponentSubTitleLanguage">Language</h2>
            <mat-list>
                <mat-list-item>
                    <mat-icon class="pb-margin-20">language</mat-icon>
                    <mat-form-field>
                        <mat-select [(ngModel)]="languageValue" (ngModelChange)="changeLanguage(languageValue)">
                            <mat-option *ngFor="let lang of languages" [value]="lang">
                                {{languageService.getLanguageTranslation(lang)}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-list-item>
            </mat-list>
            <ng-container *featureFlag="'color-themes'">
                <h2 i18n="SettingsComponent|Color Theme SubTitle@@SettingsComponentSubTitleColorTheme">Color Theme
                    (beta)</h2>
                <mat-list>
                    <mat-list-item>
                        <mat-icon class="pb-margin-20">format_color_fill</mat-icon>
                        <mat-form-field
                            i18n-matTooltip="navigationBar|Color Change Button Tooltip@@navigationBarColorChangerTooltip"
                            matTooltip="Here you can change the color theme of the app.">
                            <mat-select [(ngModel)]="themeValue" (ngModelChange)="changeTheme(themeValue)">
                                <mat-option [value]="'blue-light-theme'"
                                    i18n="SettingsComponent|Color Theme Option: Defaul@@SettingsComponentColorThemeBlueLight">
                                    Blue Light Theme
                                </mat-option>
                                <mat-option [value]="'blue-dark-theme'"
                                    i18n="SettingsComponent|Color Theme Option: Dark@@SettingsComponentColorThemeBlueDark">
                                    Blue Dark Theme
                                </mat-option>
                                <mat-option [value]="'magenta-dark-theme'"
                                    i18n="SettingsComponent|Color Theme Option: Magenta Dark@@SettingsComponentColorThemeMagentaDark">
                                    Magenta Dark Theme
                                </mat-option>
                                <mat-option [value]="'magenta-light-theme'"
                                    i18n="SettingsComponent|Color Theme Option: Magenta Light@@SettingsComponentColorThemeMagentaLight">
                                    Magenta Light Theme
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-list-item>
                </mat-list>
            </ng-container>
            <h2 i18n="SettingsComponent|Layout Subtitle@@SettingsComponentSubTitleLayout">Layout</h2>
            <mat-list>
                <mat-list-item>
                    <mat-icon class="pb-margin-20">{{layoutValue}}</mat-icon>
                    <mat-form-field>
                        <mat-select [(ngModel)]="layoutValue" (ngModelChange)="changeLayout(layoutValue)">
                            <mat-select-trigger>
                                <span>{{getLayoutName(layoutValue)}}</span>
                            </mat-select-trigger>
                            <mat-option *ngFor="let view of layout" [value]="view">
                                <mat-icon>{{view}}</mat-icon>
                                <span>{{getLayoutName(view)}}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-list-item>
            </mat-list>
        </div>
        <div>
            <h2>
                <mat-icon>flag</mat-icon>
                <span i18n="SettingsComponent|Feature Flag Subtitle@@SettingsComponentSubTitleFeatureFlag">
                    Feature Flags
                </span>
            </h2>
            <mat-list>
                <mat-list-item *ngFor="let flag of (featureFlags | async)">
                    <mat-slide-toggle [checked]="flag.value" color="primary"
                        (change)="changeFeatureFlag($event, flag.name)">
                        {{flag.name}}
                    </mat-slide-toggle>
                </mat-list-item>
            </mat-list>
        </div>
    </mat-card-content>
</mat-card>