<mat-card class="pb-margin-20">
    <div class="mat-card-header-text">
    <mat-card-title>
      <h1 i18n="SettingsComponent|Title of the settings page@@SettingsComponentTitle">Settings</h1>
    </mat-card-title>
    <mat-card-subtitle
      i18n="SettingsComponent|Title description of the settings page@@SettingsComponentTitleDescription"
    >
    Change the theme, language or layout of this application.
    </mat-card-subtitle>
    </div>

  <mat-card-content class="settings">
    <div class="pb-flex-1">
      <h2 class="differentSetting" i18n="SettingsComponent|Subtitle General of the settings page@@SettingsComponentSubtitleGeneral">General</h2>
      <mat-card-subtitle class="subtitleSetting" i18n="SettingsComponent|Language SubTitle@@SettingsComponentSubTitleLanguage">Language</mat-card-subtitle>
      <mat-list>
        <mat-list-item>
          <mat-icon class="pb-margin-20">language</mat-icon>
          <mat-form-field>
            <mat-select [(ngModel)]="languageValue" (ngModelChange)="changeLanguage(languageValue)">
              <mat-option *ngFor="let lang of languages" [value]="lang">
                {{ languageService.getLanguageTranslation(lang) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-list-item>
      </mat-list>
      <mat-card-subtitle class="subtitleSetting" i18n="SettingsComponent|Color Theme SubTitle@@SettingsComponentSubTitleColorTheme">Color Theme</mat-card-subtitle>
      <mat-list>
        <mat-list-item>
          <mat-icon class="pb-margin-20">format_color_fill</mat-icon>
          <mat-form-field
            i18n-matTooltip="navigationBar|Color Change Button Tooltip@@navigationBarColorChangerTooltip"
            matTooltip="Here you can change the color theme of the app."
          >
            <mat-select [value]="themeValue$ | async" (valueChange)="changeTheme($event)">
              <mat-option *ngFor="let theme of themes" [value]="theme">
                <span>{{ getThemeName(theme) }}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-list-item>
      </mat-list>
      <h2 class="differentSetting" i18n="SettingsComponent|Subtitle Dashboard of the settings page@@SettingsComponentSubtitleDashboard">
        Dashboard</h2>
      <mat-card-subtitle class="subtitleSetting" i18n="SettingsComponent|Layout Subtitle@@SettingsComponentSubTitleLayout">Layout for Bookmarks</mat-card-subtitle>
      <mat-list>
        <mat-list-item>
          <mat-icon class="pb-margin-20">view_list</mat-icon>
            <mat-form-field>
              <mat-select [ngModel]="layoutValue$ | async" (ngModelChange)="changeLayout($event)">
                <mat-option *ngFor="let view of layouts" [value]="view">
                <span>{{ getLayoutName(view) }}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card-content>
</mat-card>
