<div class="">
  <h2 mat-dialog-title i18n="User-InformationDialog|Headline@@Headline">Incorrect User Information</h2>
  <div mat-dialog-content *ngIf="onMyProfile">
    <span i18n="User-InformationDialog|Profile@@Your Profile">
      Dear {{ data.person.Firstname }},<br />
      unfortunately, you can't change your user information via the Phonebook interface. <br />
      If your data is incorrect, please contact your Human Resources department.
    </span>
  </div>
  <div mat-dialog-content *ngIf="!onMyProfile">
    <span i18n="User-InformationDialog|Profile@@Colleague Profile">
      Is there something wrong with the profile? <br />
      Please let your colleague know that the data is incorrect and that it can be changed through your Human Resources
      department.
    </span>
  </div>
  <div *ngIf="!onMyProfile">
    <a
      mat-icon-button
      i18n-href="User-InformationDialog|Profile@@HREF"
      href="mailto:{{this.data.person.Contacts.Email}}?subject=Issue%20with%20your%20Profiledata&amp;body=Hey%20{{this.data.person.Firstname}}%2C%20%0A%0A%20while%20browsing%20your%20profile%20I%20noticed%20that%20something%20is%20not%20right%3A%0APlease%20contact%20the%20HR%20Department%20to%20fix%20it.%0ALink%20to%20your%20Profile:%3A%20{{this.windowRef.getCurrentUrl()}}"
      i18n-matTooltip="User-InformationDialog|Button@@SendEmail"
      matTooltip="Send your colleague a direct message"
      i18n="User-InformationDialog|Profile@@Notify"
    >
      <mat-icon mat-list-icon>email</mat-icon>
      Notify {{ data.person.Firstname }}
    </a>
  </div>
  <div align="end">
    <button mat-button mat-dialog-close cdkFocusInitial i18n="User-InformationDialog|Button@@Button">
      Got it!
    </button>
  </div>
</div>
