<div class="pb-text-align-center">
  <h2 mat-dialog-title i18n="User-InformationDialog|Headline@@Headline">Incorrect User Information</h2>
  <div mat-dialog-content *ngIf="onMyProfile">
    <span i18n="User-InformationDialog|Profile@@Your Profile">
      Dear {{ data.firstname }},<br />
      unfortunately, you can't change your user information via the Phonebook interface. <br />
      If your data is incorrect, please contact your Human Resources department.
    </span>
  </div>
  <div mat-dialog-content *ngIf="!onMyProfile">
    <span i18n="User-InformationDialog|Profile@@Colleague Profile">
      Is there something wrong with the profile? <br />
      Please let your colleague know that the data is incorrect and that it can be changed through your Human Resources
      department.
    </span>
  </div>
  <div mat-dialog-actions class="pb-center-element">
    <button mat-button mat-dialog-close cdkFocusInitial i18n="User-InformationDialog|Button@@Button" class="actions">
      Got it!
    </button>
  </div>
</div>
