/* roboto-300 - latin-ext_latin_vietnamese_cyrillic-ext_greek-ext_greek_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('roboto-v18-latin-ext_latin_vietnamese_cyrillic-ext_greek-ext_greek_cyrillic-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
    url('roboto-v18-latin-ext_latin_vietnamese_cyrillic-ext_greek-ext_greek_cyrillic-300.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('roboto-v18-latin-ext_latin_vietnamese_cyrillic-ext_greek-ext_greek_cyrillic-300.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('roboto-v18-latin-ext_latin_vietnamese_cyrillic-ext_greek-ext_greek_cyrillic-300.woff') format('woff'),
    /* Modern Browsers */ url('roboto-v18-latin-ext_latin_vietnamese_cyrillic-ext_greek-ext_greek_cyrillic-300.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('roboto-v18-latin-ext_latin_vietnamese_cyrillic-ext_greek-ext_greek_cyrillic-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin-ext_latin_vietnamese_cyrillic-ext_greek-ext_greek_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('roboto-v18-latin-ext_latin_vietnamese_cyrillic-ext_greek-ext_greek_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
    url('roboto-v18-latin-ext_latin_vietnamese_cyrillic-ext_greek-ext_greek_cyrillic-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('roboto-v18-latin-ext_latin_vietnamese_cyrillic-ext_greek-ext_greek_cyrillic-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('roboto-v18-latin-ext_latin_vietnamese_cyrillic-ext_greek-ext_greek_cyrillic-regular.woff') format('woff'),
    /* Modern Browsers */ url('roboto-v18-latin-ext_latin_vietnamese_cyrillic-ext_greek-ext_greek_cyrillic-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('roboto-v18-latin-ext_latin_vietnamese_cyrillic-ext_greek-ext_greek_cyrillic-regular.svg#Roboto')
      format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin-ext_latin_vietnamese_cyrillic-ext_greek-ext_greek_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('roboto-v18-latin-ext_latin_vietnamese_cyrillic-ext_greek-ext_greek_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('roboto-v18-latin-ext_latin_vietnamese_cyrillic-ext_greek-ext_greek_cyrillic-500.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('roboto-v18-latin-ext_latin_vietnamese_cyrillic-ext_greek-ext_greek_cyrillic-500.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('roboto-v18-latin-ext_latin_vietnamese_cyrillic-ext_greek-ext_greek_cyrillic-500.woff') format('woff'),
    /* Modern Browsers */ url('roboto-v18-latin-ext_latin_vietnamese_cyrillic-ext_greek-ext_greek_cyrillic-500.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('roboto-v18-latin-ext_latin_vietnamese_cyrillic-ext_greek-ext_greek_cyrillic-500.svg#Roboto') format('svg'); /* Legacy iOS */
}



@font-face {
  font-family: 'la_belle_auroreregular';
  src: url('labelleaurore-regular-webfont.woff2') format('woff2'),
       url('labelleaurore-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}