mat-drawer-container {
  margin-top: 20px;
  width: 100%;

  mat-drawer-content,
  mat-drawer {
    padding-left: 10px;
    overflow: hidden;
  }
}

.pb-bookmarked {
  height: 100%;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  flex: 1;

  .pb-bookmarked-title {
    display: flex;
    flex-direction: row;
    h1 {
      margin: 0;
    }
    mat-form-field {
      margin-left: 16px;
    }
    ::ng-deep .mat-form-field-infix {
      border: none;
    }
  }

  .pb-bookmarks-list {
    overflow-y: auto;
  }
}

.pb-recent-people-drawer {
  width: 370px;
  background-color: unset;
}

.pb-recent-people {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .pb-recent-people-list {
    flex: 1;
  }
}

.toggle-drawer {
  display: flex;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 46%;
  padding-right: 10px;

  button {
    align-self: center;
    span {
      writing-mode: tb-rl;
    }
  }
}

.pb-small-card {
  width: 320px;
  height: 275px;
}

.pb-card {
  margin: 5px;
  display: flex;
}

.pb-list-card {
  display: flex;
  flex-grow: 1;
  margin: 0 5px 0 0;
  border-width: 0px;
  border-bottom-width: 1px;
  border-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.12) ;
  @media (max-width: 1037px) {
    width: 700px;
    min-height: auto;
  }
}

.pb-flex-row {
  overflow: auto;
}

.list-container {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.module-stream-container {
  display: flex;
}

.card-display {
  display: contents;
  width: 100%;
}

.pb-card:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.cdk-drop-dragging .cdk-drag,
.pb-card:not(.cdk-drag-placeholder) {
  transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}
