.dashboard {
  display: flex;
  flex-flow: row wrap;
  margin-top: 20px;
  width: 100%;
  //@media (max-width: 1037px) {
    //display: block;
  //}

  .pb-bookmarked {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;

    .pb-bookmarked-title {
      display: flex;
      flex-direction: row;
      margin: 0 0 16px 0;
      h1 {
        margin: 0;
      }
      mat-form-field {
        margin-left: 16px;
      }
      ::ng-deep .mat-form-field-infix {
        border: none;
      }
    }
  }
  mat-divider {
    margin: 15px 0 15px 0;
    //@media (max-width: 1037px) {
      //display: none;
    //}
  }
  .pb-last {
    flex: 1;
    max-width: 360px;
    margin-left: 10px;
    overflow-y: auto;
    //@media (max-width: 1037px) {
      //max-width: unset;
      //height: 100vh;
    //}
  }
}

.pb-small-card {
  width: 320px;
  height: 275px;
  //@media (max-width: 500px) {
    //max-width: 250px;
    //height: 275px;
  //}
}

.pb-card {
  margin: 5px;
  display: flex;
}

.card-container {
  display: flex;
}

.pb-card:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.cdk-drop-dragging .cdk-drag,
.pb-card:not(.cdk-drag-placeholder) {
  transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}

.pb-last {
  width:500px; 
  height: 100%;
  @media (max-width: 1037px) {
    max-width: unset;
    height: 100vh;
  }
}

.toggle-drawer{
  display: flex;
  position: relative;
  top: 50%;
  height:20px;
  z-index: 1;
  @media (max-width: 725px) {
    //margin-left: auto;
    width: 0px;
  }
}

.pb-flex-row {
  position: relative;
}

.mat-drawer {
  background-color: #f9f9f9;
}