<div class="dashboard">
  <div class="pb-bookmarked">
    <div class="pb-bookmarked-title">
      <h1 i18n="DashboardComponent|Title of the Bookmarked people section@@DashboardComponentTitleBookmark">
        Bookmarked People
      </h1>
      <mat-form-field>
        <mat-select [(value)]="favoriteSort" (valueChange)="changeOrder()">
          <mat-option
            value=""
            i18n="DashboardComponent|The standard (customizable) order of the favorite cards@@DashboardComponentOrderNone"
          >
            Custom Order</mat-option
          >
          <mat-option
            value="asc"
            i18n="DashboardComponent|The alphabetical asc order of the favorite cards@@DashboardComponentOrderAsc"
          >
            Alphabetical asc</mat-option
          >
          <mat-option
            value="desc"
            i18n="DashboardComponent|The alphabetical desc order of the favorite cards@@DashboardComponentOrderDesc"
          >
            Alphabetical desc</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <!-- This is a workaround for https://github.com/angular/material2/issues/13372 -->
    <div cdkDropListGroup class="pb-flex-row">
      <div *ngIf="layoutSetting === 'view_list'" class="width">
      <div
        *ngFor="let person of bookmarkedPersons; index as i"
        cdkDropList
        [cdkDropListData]="i"
        cdkDropListOrientation="horizontal"
        class="card-container1"
      >
      <app-user-list-card
          [person]="person"
          [actionButtonIcon]="'close'"
          [actionButtonClasses]="'white'"
          (actionButtonClicked)="removeFromBookmarkedPersons(person)"
          class="pb-list-card pb-card pb-flex-row"
          cdkDrag
          (cdkDragEntered)="entered($event)"
          (cdkDragEnded)="ended($event)"
          [cdkDragData]="i"
          [cdkDragDisabled]="favoriteSort != ''"
      ></app-user-list-card>
    </div>
    </div>
    <div *ngIf="layoutSetting === 'view_module'" class="width">
    <div
    *ngFor="let person of bookmarkedPersons; index as i"
    cdkDropList
    [cdkDropListData]="i"
    cdkDropListOrientation="horizontal"
    class="card-container2"
      >
      <app-user-small-card 
          [person]="person"
          [actionButtonIcon]="'close'"
          [actionButtonClasses]="'white'"
          (actionButtonClicked)="removeFromBookmarkedPersons(person)"
          class="pb-small-card pb-card"
          cdkDrag
          (cdkDragEntered)="entered($event)"
          (cdkDragEnded)="ended($event)"
          [cdkDragData]="i"
          [cdkDragDisabled]="favoriteSort != ''"
        ></app-user-small-card>
      </div>
      </div>
      <div *ngIf="layoutSetting === 'view_stream'" class="width">
      <div
        *ngFor="let person of bookmarkedPersons; index as i"
        cdkDropList
        [cdkDropListData]="i"
        cdkDropListOrientation="horizontal"
        class="card-container2"
      >
        <app-user-tiny-card 
          [person]="person"
          [actionButtonIcon]="'close'"
          [actionButtonClasses]="'white'"
          (actionButtonClicked)="removeFromBookmarkedPersons(person)"
          class="pb-tiny-card pb-card"
          cdkDrag
          (cdkDragEntered)="entered($event)"
          (cdkDragEnded)="ended($event)"
          [cdkDragData]="i"
          [cdkDragDisabled]="favoriteSort != ''"
        ></app-user-tiny-card>
      </div>
      </div>
    </div>
    <div
      *ngIf="bookmarkedPersons.length === 0"
      i18n="DashboardComponent|Message displayed if no people are bookmarked@@DashboardComponentDescriptionBookmark"
    >
      You haven't bookmarked anybody yet, look for the button
      <button mat-icon-button>
        <mat-icon>bookmark_border</mat-icon>
      </button>
      on a workmates page.
    </div>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <cdk-virtual-scroll-viewport itemSize="148" class="pb-last">
    <h1>
      <ng-container i18n="DashboardComponent|Title of the recent people section@@DashboardComponentTitleRecent">
        Recent People
      </ng-container>
      <button
        mat-button
        *ngIf="removedLastPersons == null && (lastPersons$ | async)?.length != 0"
        (click)="resetLastPersons()"
        i18n="@@GeneralResetButton"
      >
        Reset
      </button>
      <button mat-button *ngIf="removedLastPersons != null" (click)="undoLastPersons()">
        <mat-icon>undo</mat-icon>
        <span i18n="GeneralUndoButton|Button for undoing something@@GeneralUndoButton"> Undo </span>
      </button>
    </h1>
    <div class="pb-flex-row">
      <ng-container *cdkVirtualFor="let person of lastPersons$ | async">
        <app-user-tiny-card
          [person]="person"
          [actionButtonIcon]="'close'"
          (actionButtonClicked)="removeFromLastPersons(person)"
          class="pb-card"
        ></app-user-tiny-card>
      </ng-container>
      <div
        *ngIf="(lastPersons$ | async)?.length === 0"
        i18n="DashboardComponent|Message displayed if no people have been visited recently@@DashboardComponentDescriptionRecent"
      >
        Looks like you haven't searched for any colleagues yet. Search for somebody to see how it works! The most recent
        ones will be displayed here.
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
