/**
 * Default Theme
 */
$default-primary: mat-palette($mat-indigo);
$default-accent: mat-palette($mat-teal, A200, A100, A400);
$default-warn: mat-palette($mat-red);

$blue_light_theme: mat-light-theme($default-primary, $default-accent, $default-warn);

/**
 * Dark Theme
 */
$dark-primary: mat-palette($mat-indigo);
$dark-accent: mat-palette($mat-teal, A200, A100, A400);
$dark-warn: mat-palette($mat-red);

$blue_dark_theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
