/**
 * Magenta Theme
 */

$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

$magenta: (
  50: #e20074,
  100: #e20074,
  200: #e20074,
  300: #e20074,
  400: #e20074,
  500: #e20074,
  600: #e20074,
  700: #e20074,
  800: #e20074,
  900: #e20074,
  A100: #e20074,
  A200: #e20074,
  A400: #e20074,
  A700: #e20074,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);

$black: (
  50: #262626,
  100: #262626,
  200: #262626,
  300: #262626,
  400: #262626,
  500: #262626,
  600: #262626,
  700: #262626,
  800: #262626,
  900: #262626,
  A100: #262626,
  A200: #262626,
  A400: #262626,
  A700: #262626,
  contrast: (
    50: $light-primary-text,
    100: $light-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $light-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);

$red: (
  50: #d90000,
  100: #d90000,
  200: #d90000,
  300: #d90000,
  400: #d90000,
  500: #d90000,
  600: #d90000,
  700: #d90000,
  800: #d90000,
  900: #d90000,
  A100: #d90000,
  A200: #d90000,
  A400: #d90000,
  A700: #d90000,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text
  )
);

// Specifies the color that should be used as mat-palette($color-palette, normal, light, dark)
$default-primary: mat-palette($magenta);
$default-accent: mat-palette($black, A200, A100, A400);
$default-warn: mat-palette($red);

// $magenta_dark_theme: mat-dark-theme($default-primary, $default-accent, $default-warn);
$magenta_light_theme: mat-light-theme($default-primary, $default-accent, $default-warn);
$magenta_dark_theme: mat-dark-theme($default-primary, $default-accent, $default-warn);




