@import '~@angular/material/theming';

@mixin add-filter-component-theme($theme) {
  $primary: map-get($theme, primary);

  a {
    &:hover,
    &:active,
    &:focus {
      outline: none;
      .pb-c-text {
        border-bottom: mat-color($primary) dashed;
      }
    }
  }
}
