.building-card {
    width: 100%;
}

.pb-roomplan {
    width: 100%;
    margin-top: 15px;
    img {
      width: 60%;
      margin: 20px auto;
      display: block;
  }
}

mat-list {
  flex: 1;
  min-width: 350px;
  .mat-list-item {
    height: inherit;
    padding: 5px 0px 5px 0px;
  }
}