<mat-card class="pb-margin-20">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>
        <span class="mat-display-1">{{node?.name}}</span>
      </mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
    <div>
      <h3 mat-subheader i18n="CityComponent|Subheader for all building locations in the city@@CityComponentSubHeaderLocation">Buildings</h3>
      <div class="pb-flex-row pb-expand">
        <mat-card class="pb-margin-20 pb-normal-shadow pb-location" *ngFor="let location of locations" (click)="navigateToBuilding(location.City.Building)"
          (keyup.enter)="navigateToBuilding(location.City.Building)" tabindex="0">
          <mat-card-header>
            <mat-card-title>
              {{location.Description}}
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image [src]="runtimeEnvironment.assetsEndpoint + location.LinkPicture" [alt]="location.LinkRoutingInfo">
          <mat-card-content>
            <mat-list>
              <h3 mat-subheader>
                <span i18n="@@DataLocationAddress">Address</span>
                <a mat-button propagationStop [href]="location.LinkRoutingWebsite" target="_blank" rel="noopener" *ngIf="location.LinkRoutingWebsite != '' && location.LinkRoutingWebsite != null"
                  class="mat-small">
                  <mat-icon>open_in_new</mat-icon>
                  <span i18n="@@GeneralShowOnMapButton">Show on Google-Maps</span>
                </a></h3>
              <mat-list-item>
                <div>
                  <app-address mat-line [location]="location"></app-address>
                </div>
              </mat-list-item>
              <h3 mat-subheader i18n="@@DataLocationContact">Contact</h3>
              <mat-list-item *ngIf="location.ReceptionPhone != '' && location.ReceptionPhone != null">
                <mat-icon mat-list-icon>call</mat-icon>
                <h4 mat-line i18n="@@ColumnTitlePhone">Phone</h4>
                <p mat-line>
                  <button mat-button actionDrawer color="primary" [copy]="location.ReceptionPhone" [tel]="location.ReceptionPhone">
                    {{location.ReceptionPhone}}
                  </button>
                </p>
              </mat-list-item>
              <mat-list-item *ngIf="location.ReceptionFax != '' && location.ReceptionFax != null">
                <mat-icon mat-list-icon>print</mat-icon>
                <h4 mat-line i18n="@@DataPersonFax">Fax</h4>
                <p mat-line>
                  <button mat-button actionDrawer [copy]="location.ReceptionFax">
                    {{location.ReceptionFax}}
                  </button>
              </mat-list-item>
              <mat-list-item *ngIf="location.ContactPerson != '' && location.ContactPerson != null">
                <mat-icon mat-list-icon>person</mat-icon>
                <h4 mat-line i18n="@@DataLocationContactPerson">Contact Person</h4>
                <p mat-line>
                  <button mat-button stopPropagation [routerLink]="['/search/' + location.ContactPerson]">
                    {{location.ContactPerson}}
                  </button>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>