---
---

blockquote {
  background: #f9f9f9;
  border-left: 10px solid rgba(111, 85, 213, 0.5);
  font-style: italic;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  }
blockquote p {
  display: inline;
  }