<mat-card class="pb-text-align-center">
  <mat-card-header class="pb-center-element">
    <mat-card-title class="pb-icon-60"
      ><mat-icon color="primary">error_outline</mat-icon>
      <p
        i18n="
          Page-informationComponent|Subtitle Contributes@@PageInformationComponentSubTitleContribute"
      >
        Call for Contributors!
      </p></mat-card-title
    >
  </mat-card-header>

  <mat-card-content
    i18n="Page-informationComponent|Text for Contribute@@PageInformationComponentSectionContribute"
  >
    <span>
      The Phonebook is an Open Source Project and lives from his active contributors. There are many
      different topics where you can work on. You can help with solving an
      <a href="https://github.com/T-Systems-MMS/phonebook/issues" target="_blank">Issue</a>, work
      out an User-Guide or document new
      <a href="https://github.com/T-Systems-MMS/phonebook/issues/new/choose" target="_blank">Bugs</a
      >.
    </span>
    <span>
      You can get in touch with us
      <a href="https://github.com/T-Systems-MMS/phonebook/" target="_blank"
        >in our official Repository</a
      >
      or you take a look at our
      <a href="https://t-systems-mms.github.io/phonebook/" target="_blank">Documentation</a>.
      <div>
        <b>To be a part of this community it is not required to have programming skills.</b>
      </div>
    </span>
    <div *ngIf="contributorsLoaded" class="pb-margin-top-20">
      <h2>Thanks to our Contributors!</h2>
      <div class="contributors-table" [innerHTML]="contributorsHTML"></div>
    </div>
  </mat-card-content>
</mat-card>
