<button style="float: right;" mat-button mat-dialog-close cdkFocusInitial>
  <span i18n="GeneralCloseButton|Button for closing something@@GeneralCloseButton">Close</span>
</button>
<h1 mat-dialog-title>
  {{ title }}
</h1>
<mat-dialog-content>
  <app-dialog-view
    #appdialogview
    [title]="title"
    [content]="content"
    [data]="componentData"
  ></app-dialog-view>
</mat-dialog-content>
<mat-dialog-actions class="mat-dialog-actions">
  <app-dialog-footer #appdialogfooter [footer]="footer"> </app-dialog-footer>
</mat-dialog-actions>
