<div #thisNode>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>
          <mat-icon
            [cdkCopyToClipboard]="getLink()"
            (copied)="copiedToast($event)"
            class="link pb-pointer"
            >link</mat-icon
          >
          <span>{{ node.id + ': ' + node.name }}</span>
        </h1>
      </mat-card-title>
      <button
        mat-icon-button
        (click)="toggleExpand()"
        *ngIf="node.children.length != 0"
        i18n-matTooltip="
          OrganigramNodeComponent|Tooltip for expanding a Organigram
          Node@@OrganigramNodeComponentExpandTooltip"
        i18n-aria-label="
          OrganigramNodeComponent|Aria Label for expand Button on Organigram
          Node@@OrganigramNodeComponentExpandAriaLabel"
        aria-label="Button expanding or collapsing this node. "
        matTooltip="Expand or Collapse this node."
      >
        <mat-icon>{{ expand }}</mat-icon>
      </button>
      <mat-card-subtitle>
        <div>
          <span
            i18n="
              OrganigramNodeComponent|Supervisor Property@@OrganigramNodeComponentPropertySupervisor"
            >{node.supervisors.length, plural, =0 { No Supervisor } =1 { Supervisor: } other {
            Supervisors: }}</span
          >
          <a *ngFor="let person of node.supervisors" [routerLink]="['/user', person.Id]">
            {{ person.Firstname + ' ' + person.Surname }}
          </a>
        </div>
        <div>
          <span
            i18n="
              OrganigramNodeComponent|Assistant Property@@OrganigramNodeComponentPropertyAssistant"
            >{node.assistents.length, plural, =0 { No Assistant } =1 { Assistant: } other {
            Assistants: }}</span
          >
          <a *ngFor="let person of node.assistents" [routerLink]="['/user', person.Id]">
            {{ person.Firstname + ' ' + person.Surname }}
          </a>
        </div>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="persons">
        <div *ngIf="node.employees.length > 0">
          <h2
            i18n="
              OrganigramNodeComponent|Employee Property@@OrganigramNodeComponentPropertyEmployee"
          >
            {node.employees.length, plural, =0 { No Employees } =1 { Employee: } other { Employees:
            }}
          </h2>
          <li *ngFor="let person of node.employees">
            <a [routerLink]="['/user', person.Id]">
              {{ person.Firstname + ' ' + person.Surname }}
            </a>
          </li>
        </div>
        <div *ngIf="node.learners.length > 0">
          <h2
            i18n="OrganigramNodeComponent|Learners Property@@OrganigramNodeComponentPropertyLearner"
          >
            {node.learners.length, plural, =0 { No Learners } =1 { Learner: } other { Learners: }}
          </h2>
          <li *ngFor="let person of node.learners">
            <a [routerLink]="['/user', person.Id]">
              {{ person.Firstname + ' ' + person.Surname }}
            </a>
          </li>
        </div>
      </div>
      <div *ngIf="expand === expanded.isExpanded" class="childnodes">
        <mat-divider></mat-divider>
        <app-organigram-node
          *ngFor="let child of node.children"
          [node]="child"
        ></app-organigram-node>
      </div>
    </mat-card-content>
  </mat-card>
</div>
