<h2 mat-dialog-title i18n="IeWarningComponent|Title@@IeWarningComponentTitle">
  This Website may not function properly in Internet Explorer
</h2>
<mat-dialog-content i18n="IeWarningComponent|Content@@IeWarningComponentContent">
  <p>
    The support for older versions of Internet Explorer
    <a href="https://www.microsoft.com/en-us/WindowsForBusiness/End-of-IE-support">ended in 2016</a>. It is not actively
    developed anymore and as such lags modern features.
  </p>
  <p>
    Making a feature work in Internet Explorer takes up as much time as building the feature itself for all other
    browser. As we only have limited time we strive to develop features of the future instead of supporting the past.
  </p>
  <p>
    Please change to a more modern browser: <a href="https://www.google.com/chrome/">Chrome</a>,
    <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a>,
    <a href="https://www.microsoft.com/en-us/windows/microsoft-edge">Edge</a>,
    <a href="https://www.apple.com/safari/">Safari</a>.
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="true" i18n="IeWarningComponent|Button@@IeWarningComponentButton">
    I still want to use Internet Explorer!
  </button>
</mat-dialog-actions>
