@import 'mixins';
@import 'media-queries';
@import '~@angular/material/theming';

.header {
  text-align: center;
}

mat-card {
  text-align: center;
  margin: 0.5%;
  border: 1.5px solid;

  mat-card-header {
    justify-content: center;
    mat-icon {
      @include mat-icon-size(60px);
    }
  }

  mat-card-title {
    line-height: 1;
  }
}

.small-card {
  width: 50%;
}

//style for the contributors table
.contributors-table {
  ::ng-deep table {
    display: flex;
    flex-flow: column wrap;
  }
  ::ng-deep tr {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  ::ng-deep td {
    width: 110px;
    a[title] {
      display: none;
    }
  }
}
