.mat-card{
  display: flex;
  flex-direction: column;
  flex: 1;
}

// mat-card-footer doesn't align with bottom, you have to user manually styling
// --> https://github.com/angular/components/issues/11094
.mat-card-content{
  flex-grow: 1;
  overflow: auto;
}

.mat-card-action {
  margin-bottom: 0;
}
// manually styling ends here

@media (max-width: 767px) {
  .cardcontainer {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
  }
}