<div *ngIf="online; then onlineTemplate; else offlineTemplate"></div>
<ng-template #onlineTemplate>
  <div
    class="onlinebar online"
    i18n-matTooltip="Online-barComponent|Tooltip for bar indicating the user is online@@OnlineBarComponentOnline"
    matTooltip="The green bar indicates that you are online."
  ></div>
</ng-template>
<ng-template #offlineTemplate>
  <div
    class="onlinebar offline"
    i18n-matTooltip="Online-barComponent|Tooltip for bar indicating the user is offline@@OnlineBarComponentOffline"
    matTooltip="The red bar indicates that you are offline."
  ></div>
</ng-template>
