<mat-card [routerLink]="['/user', person.Id]" mat-ripple>
  <mat-card-header>
    <div class="pb-right-top-action">
      <button
        propagationStop
        mat-icon-button
        [ngClass]="actionButtonClasses"
        (click)="buttonClicked()"
      >
        <mat-icon>{{ actionButtonIcon }}</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div>
      <div class="centered">
        <app-profile-picture
          class="pb-self-centered circle square-img100"
          [user]="person"
          [altText]="person.Id"
        >
        </app-profile-picture>
      </div>
    </div>
    <div>
      <div class="centered">
        <span class="mat-title">
          {{ displayedUsername() }}
        </span>
      </div>
    </div>
    <mat-divider class="pb-divider"></mat-divider>
    <div>
      <button
        *ngIf="person.Contacts.Phone != null && person.Contacts.Phone != ''"
        mat-button
        actionDrawer
        color="primary"
        [copy]="person.Contacts.Phone"
        [tel]="person.Contacts.Phone | telephone"
      >
        <div>
          <mat-icon>call</mat-icon>
          {{ person.Contacts.Phone }}
        </div>
      </button>
      <button
        *ngIf="person.Contacts.Phone == null || person.Contacts.Phone == ''"
        mat-button
        actionDrawer
        color="primary"
        [copy]="person.Contacts.Mobile"
        [tel]="person.Contacts.Mobile | telephone"
      >
        <div>
          <mat-icon>call</mat-icon>
          {{ person.Contacts.Mobile }}
        </div>
      </button>
      <button
        mat-button
        actionDrawer
        color="primary"
        [copy]="person.Contacts.Email"
        [mailto]="person.Contacts.Email"
      >
        <div>
          <mat-icon>mail</mat-icon>
          <span class="pb-text-overflow">
            {{ person.Contacts.Email }}
          </span>
        </div>
      </button>
    </div>
  </mat-card-content>
</mat-card>
