.tree-drawer {
  width: 400px;
  height: 100%;
}

.toggle-drawer {
  height: 100%;
  display: flex;
  position: absolute;
  z-index: 1;

  button {
    align-self: center;
  }
}

.btn-whereAmI {
  margin-left: auto;
}

.location-tree {
  ul,
  li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
}

.router-outlet {
  margin-left: 20px;
}
